In [30]:
# Author: Jose A. Valdivia Rojas
# Course: CMSC 206
# Homework 1C

# Printing
print("Hello, World!")
print("") # A new line
print("Jack and Jill went up a hill")
print("to fetch a pail of water;")
print("Jack fell down, and broke his crown,")
print("and Jill came tumbling after.")
print("") # A new line
print("With a great power,","comes a great responsability.")
print("Without sacrifice,","there is no victory.")
print("Either you die as a hero,", "or you live long enough to become a villain.")

Hello, World!

Jack and Jill went up a hill
to fetch a pail of water;
Jack fell down, and broke his crown,
and Jill came tumbling after.

With a great power, comes a great responsability.
Without sacrifice, there is no victory.
Either you die as a hero, or you live long enough to become a villain.

In [20]:
# \n in Printing
print("Hello, World!\nWhat should I do")
print("I should finish this homework as fast as I can\nOtherwise, I won't have time for my other classes' assignments")

Hello, World!
What should I do
I should finish this homework as fast as I can
Otherwise, I won't have time for my other classes' assignments

In [5]:
# Expessions
print("2 + 2 is", 2 + 2)
print("3 * 4 is", 3 * 4)
print("100 - 1 is", 100 - 1)
print("(33 + 2) / 5 + 11.5 is", (33 + 2) / 5 + 11.5)

2 + 2 is 4
3 * 4 is 12
100 - 1 is 99
(33 + 2) / 5 + 11.5 is 18.5

In [6]:
# Arithmetic expressions
print("2 + 2 is", 2 + 2)

2 + 2 is 4

In [9]:
# Commenting in Python
# Not quite PI, but a credible simulation
print(22 / 7) # Well, just a good approximation

3.142857142857143

In [10]:
# Examples

# Denmark.py
print("Something's rotten in the state of Denmark.")
print("                -- Shakespeare")

Something's rotten in the state of Denmark.
                -- Shakespeare

In [14]:
# School.py
# This is not quite true outside of USA
# and is based on my dim memories of my younger years
print("Firstish Grade")
print("1 + 1 =", 1 + 1)
print("2 + 4 =", 2 + 4)
print("5 - 2 =", 5 - 2)
print()
print("Thirdish Grade")
print("243 - 23 =", 243 - 23)
print("12 * 4 =", 12 * 4)
print("12 / 3 =", 12 / 3)
print("13 / 3 =", 13 // 3, "R", 13 % 3)
print()
print("Junior High")
print("123.56 - 62.12 =", 123.56 - 62.12)
print("(4 + 3) * 2 =", (4 + 3) * 2)
print("4 + 3 * 2 =", 4 + 3 * 2)
print("3 ** 2 =", 3 ** 2)

Firstish Grade
1 + 1 = 2
2 + 4 = 6
5 - 2 = 3

Thirdish Grade
243 - 23 = 220
12 * 4 = 48
12 / 3 = 4.0
13 / 3 = 4 R 1

Junior High
123.56 - 62.12 = 61.440000000000005
(4 + 3) * 2 = 14
4 + 3 * 2 = 10
3 ** 2 = 9

In [29]:
# Exercises
 
# Write a program that prints your full name and your birthday as separate strings.
print("Jose Valdivia Rojas","02/10/99")

# Write a program that shows the use of all 7 arithmetic operations.
print("3**3 = ", 3**3)
print("5*4 = ", 5*4)
print("5/4 = ", 5/4)
print("50.3//6.1 = ", 50.3//6.1)
print("50%6 = ", 50%6)
print("2+1 = ", 2+1)
print("10-11 = ", 10-11)

Jose Valdivia Rojas 02/10/99
3**3 =  27
5*4 =  20
5/4 =  1.25
50.3//6.1 =  8.0
50%6 =  2
2+1 =  3
10-11 =  -1