In [ ]:
# Author: Jose Valdivia Rojas
# Course: CMSC 206
# Assignment 1.1

In [1]:
print("Welcome to Python!")

Welcome to Python!

In [7]:
# Arithmetic Operator
num1 = 1
num2 = 10.5
total = num1 + num2
print(total)

11.5

In [6]:
# Strings
fname = "Jose"
lastname = "Valdivia"
fullname = fname + " " + lastname
print(fullname)

Jose Valdivia

In [5]:
# Logical Operator
o1 = True
o2 = False
print(o1 and o2)

print(o1 or o2)

print(not(o1))

False
True
False

In [12]:
# Assignment Operator
n1 = 4
n2 = 2

n1 += n2
print("n1 += n2 is", n1)
n1 = 4

n1 -= n2
print("n1 -= n2 is", n1)
n1 = 4

n1 *= n2
print("n1 *= n2 is", n1)
n1 = 4

n1 /= n2
print("n1 /= n2 is", n1)

n1 += n2 is 6
n1 -= n2 is 2
n1 *= n2 is 8
n1 /= n2 is 2.0

In [13]:
# Comparison Operators
n1 = 10
n2 = 5

print("n1 == n2 is", n1 == n2)
print("n1 != n2 is", n1 != n2)
print("n1 > n2 is", n1 > n2)
print("n1 < n2 is", n1 < n2)
print("n1 >= n2 is", n1 >= n2)
print("n1 <= n2 is", n1 <= n2)

n1 == n2 is False
n1 != n2 is True
n1 > n2 is True
n1 < n2 is False
n1 >= n2 is True
n1 <= n2 is False

In [18]:
# Conditional Statements - If Statement
age = 60

if age >= 65:
    print("You are eligible for priority treatment.")

print("Thank you for your visit")

Thank you for your visit

In [21]:
# If/Else Statements
age = 55

if age >=65:
    print("You are eligible for priority treatment.")
else:
    print("You are eligible for normal treatment")

print("\nThank you for your visit")

You are eligible for normal treatment

Thank you for your visit

In [23]:
# If/Elif Statment
age = 10

if age >= 65:
    print("You are eligible for priority treatment.")
elif age > 18 and age < 65:
    print("You are eligible for normal treatment")
else:
    print("You are eligible for juvenile treatment")

print("Thank you for your visit")

You are eligible for juvenile treatment
Thank you for your visit

In [24]:
# Nested If Else Statement
age = 67
insurance = "yes"

if age >= 65:
    print("You are eligible for priority treatment.")
    if insurance == "yes":
        print("The insurance company will pay for you.")
    else:
        print("You have to pay in advance.")
else:
    print("You are eligble for normal treatment")

print("Thank you for your visit")

You are eligible for priority treatment.
The insurance company will pay for you.
Thank you for your visit

In [25]:
# Loops
nums = [1, 2, 4, 5, 6, 7, 8, 9, 10]

for n in nums:
    print(5 * n)

5
10
20
25
30
35
40
45
50

In [26]:
# The While Loop
x = 50

while x > 0:
    print(x)
    x = x - 5

50
45
40
35
30
25
20
15
10
5

In [28]:
# Functions
def displayWelcome():
  print("Welcome to Python. This article explains the basics of Python for absolute beginners!")
  return;

displayWelcome()
print("Do something here")
displayWelcome()
print("Do some other stuff here")

Welcome to Python. This article explains the basics of Python for absolute beginners!
Do something here
Welcome to Python. This article explains the basics of Python for absolute beginners!
Do some other stuff here

In [29]:
# Functions with Parameters
def addNumbers(n1, n2):
    r = n1 + n2
    return r;

result = addNumbers(10, 20)
print(result)

result = addNumbers(40, 60)
print(result)

result = addNumbers(15, 25)
print(result)

30
100
40

In [31]:
# List, Tuples, Dictionaries

# List
randomlist = ['apple', 'banana', True, 10, 'Mango']

print(randomlist[0])
print(randomlist[1])
print(randomlist[2])
print(randomlist[3])
print(randomlist[4])

apple
banana
True
10
Mango

In [33]:
# Assigning New List Elements
# Define the list
randomlist = ['apple', 'banana', True, '10', 'Mango']

# Print the current value at index 0
print(randomlist[0])

# Assign a new value at index 0
randomlist[0] = 'Peach'

# Print the updated value
print(randomlist[0])

# Print whole list
print(randomlist)

apple
Peach
['Peach', 'banana', True, '10', 'Mango']

In [34]:
# Adding List Elements
randomlist = ['apple', 'banana', True, '10', 'Mango']

print(randomlist)

# Add a new element at the end of the list
randomlist.append(0)

print(randomlist)

['apple', 'banana', True, '10', 'Mango']
['apple', 'banana', True, '10', 'Mango', 0]

In [35]:
# Deleting List Elements
randomlist = ['apple', 'banana', True, '10', 'Mango']

print(randomlist)

# Remove the second element by using the keyword del
del randomlist[1]

print(randomlist)

['apple', 'banana', True, '10', 'Mango']
['apple', True, '10', 'Mango']

In [38]:
# Tuples
# Accessing Tuple Elements
randomtuple = ('apple', 'banana', True, '10', 'Mango')

print(randomtuple[1])
print(randomtuple[3])
print(randomtuple[4])

banana
10
Mango

In [41]:
# Assigning values to Tuple Elements
randomtuple[1] = 10     # This operation is not allowed

TypeError: ignored

In [44]:
# Deleting a Tuple Element
del randomtuple[1] # This operation is not allowed

TypeError: ignored

In [45]:
# Deletong a Tuple Element part 2
randomtuple = ('apple', 'banana', True, '10', 'Mango')

print(randomtuple)

del randomtuple

print(randomtuple)

('apple', 'banana', True, '10', 'Mango')

NameError: ignored

In [47]:
# Dictionaries
randomdict = {'Make': 'Honda', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}

# Accessing Values to Dictionary Elements
print(randomdict['Make'])
print(randomdict['Model'])

Honda
Civic

In [48]:
# Assigning Values to Dictionary Elements
randomdict = {'Make': 'Honda', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}

print(randomdict['Make'])
randomdict['Make'] = 'Audi'
print(randomdict['Make'])

Honda
Audi

In [51]:
# Deleting Dictionary Elements
randomdict = {'Make': 'Honda', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}

# Displaying complete dictionary
print(randomdict)

# Deleting one element
del randomdict['Make']
print(randomdict)

# Clearing whole dictionary
randomdict.clear()
print(randomdict)

# Deleting dictionary itself
del randomdict
print(randomdict)

{'Make': 'Honda', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}
{'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}
{}

NameError: ignored

In [54]:
# Example Application
cars = []

add_inventory = input('Add inventory? [y/n] ')

while add_inventory == 'y':
    # Get car data from user
    make = input('Make: ')
    model = input('Model: ')
    year = input('Year: ')
    miles = input('Miles: ')

    # Create car dictionary object and save it to list
    car = {'Make': make, 'Model': model, 'Year': year, 'Miles': miles}
    cars.append(car)

    # Ask user if we should keep going
    add_inventory = input('Add inventory? [y/n] ')

print('')
print('Here are your cars:')

# Display all of our cars
for c in cars:
    print('Make: ' + c['Make'])
    print('Model: ' + c['Model'])
    print('Year: ' + c['Year'])
    print('Miles: ' + c['Miles'])
    print('')

Add inventory? [y/n] y
Make: Porsche
Model: 911 Turbo
Year: 2017
Miles: 2000
Add inventory? [y/n] y
Make: Ferrari
Model: 488 GTB
Year: 2016
Miles: 12000
Add inventory? [y/n] y
Make: Lamborghini
Model: Aventador
Year: 2017
Miles: 8000
Add inventory? [y/n] y
Make: Corolla
Model: Toyota
Year: 2001
Miles: 25000
Add inventory? [y/n] n

Here are your cars:
Make: Porsche
Model: 911 Turbo
Year: 2017
Miles: 2000

Make: Ferrari
Model: 488 GTB
Year: 2016
Miles: 12000

Make: Lamborghini
Model: Aventador
Year: 2017
Miles: 8000

Make: Corolla
Model: Toyota
Year: 2001
Miles: 25000